'.source.python.legesher':
  'editor':
    'autoIndentOnPaste': false
    'softTabs': true
    'tabLength': 4
    'commentStart': '# '
    'foldEndPattern': '^\\s*[}\\])]'
    'increaseIndentPattern': '^\\s*(testclasslegesher|testdeflegesher|testeliflegesher|testelselegesher|testexceptlegesher|testfinallylegesher|testforlegesher|testiflegesher|testtrylegesher|testwithlegesher|testwhilelegesher|testasynclegesher\\s+(testdeflegesher|testforlegesher|testwithlegesher))\\b.*:\\s*$'
    'decreaseIndentPattern': '^\\s*(testeliflegesher|testelselegesher|testexceptlegesher|testfinallylegesher)\\b.*:\\s*$'
